select{
  -webkit-appearance: menulist
}
#input_syncTopdesk{
  width: 120px;
  height: 28px;
  padding: 3px;
  font-size: 15px;
}
.addTotvsGmudIcon{
    font-size: 23px; 
    margin-bottom: -2px; 
    margin-top: -2px; 
    vertical-align: top;
  }
  .titleFornecedorGmudBody{
    font-size: 15.5px;
    font-weight: bold;
    display: inline;
  }
  .titleFornecedorGmud{
    font-size: 15px;
    margin-top: -8px;
    margin-bottom: -2px;
    font-weight: bold;
  }
  .incluirTotvsFornecedorButton{
    padding: 2px 15px;  
    align-content: center;
    margin-top: -10px;
  }
  input, textarea {
    color: black;
    background-color : white;
    border-radius: 5px;
    width: 162px;
  }
  .tableSizeSmall{
    min-width: 510px;
    max-width: 510px;
    margin-right: 10px;
    position: relative;
  }
  .tableSize{
    max-width: 1260px;
    min-width: 950px;
    position: relative;
  }
  .descricaoSmallTable{
    text-align: left;
    margin: -1px -56px -2.8px 1px;
    font-size: 12px;
    padding-top: 8px;
    color: rgb(151, 151, 151);
    max-width: 505px;
    /* definir width total para ter quebra de linha se necessário.. */
  }
  .descricaoSmallTableSelected{
    color: whitesmoke;
  }
  .heightLineSmallTable{
    height: 15px;
  }
  .textColorModal {
    color: black;
  }
  table {
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  thead{
    font-size: 16px;
  }
  tbody {
    font-size: 13px;
  }
  th{
    padding: 0;
    margin: 0;
  }
  td {
    vertical-align: middle;
  }
  .th_folder{
    padding-top: 3px;
    padding-left: 5px;
  }
  .add_folder{
    color: green;
    font-size: 27px;
    margin-left: -10px;
  }
  .th1{
    text-align: initial;
    padding-left: -2px;
    width: 110px;
  }
  .td1{
    text-align: initial;
    padding-right: 40px;
    margin-right: 20px;
    /* border-style: solid; 
    border-color: red; */
  }
  .th2{
    min-width: 260px;
    text-align: initial;
    padding-left: 9px;
  }
  .td2{
    text-align: initial;
    padding-left: 16px;
    /* border-style: solid; */
  }
  .th3{
    min-width: 110px;
  }
  .td3{
    padding-right: 20px;
    padding-bottom: 8px;
  }
  .th4 {
    min-width: 215px;
    text-align: center;
  }
  .td4{
    text-align: left;
    padding-bottom: 7px;
    padding-left: 5px;
  }
  .th5 {
    min-width: 80px;
  }
  .td5{
    padding-bottom: 7px;
    text-align: center;
  }
  .rotate-330 {
    -webkit-transform: rotate(330deg);
    -moz-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    -o-transform: rotate(330deg);
    transform: rotate(330deg);
    font-size: 22px;
    margin-top: -7px;
    margin-left: 7px;
    
    text-align: right;
  }
  .status_button {
    /* font-weight: bold; */
    height: 22px;
    width: 149px;
    border-radius: 20px;
    padding: 0px 7px;
  }
  .moreInfos{
    min-width: 650px;
    font-size: 13.7px;
  }
  .textAreaMoreInfo{
    font-size: 11px;
    padding: 4px;
    padding-left: 6px;
    margin-bottom: 7px;
  }
  .fields_moreInfo {
    vertical-align: middle;
    display: inline-block;
    height: 24px;
    border-radius: 4px;
    padding: 2px 6px;
    margin-top: -3px;
    background-color: white;
    color: black;
    margin-bottom: 7px;
  }
  .width_moreInfo{
    width: 100%;
  }
  .selectMoreInfo{
    padding: 0px 6px;
    /* height: 5px; o height está direto no select*/
    width: 200px;
  }

  .abaPendenteFornecedor{
    border-bottom: solid rgba(2, 2, 231, 0.637);
  }
  .abaPendenteFesp{
    border-bottom: solid rgba(255, 0, 8, 0.6);
  }
  .abaFechado{
    border-bottom: solid rgb(0, 0, 0);
  }
/* ==========================================ICON STATUS================================================ */
  .icon-aberto{
    color: rgba(255, 0, 8, 0.6);
  }
  .icon-andamento {
    color: rgba(3, 3, 204, 0.637);
  }
  .icon-especialista{
    color: rgba(11, 158, 243, 0.78);
  }
  .icon-fechado {
    color: rgb(0, 0, 0);
  }
  .icon-fornecedor {
    color: rgba(5, 0, 54, 0.9);
  }
  .icon-somente-fornecedor {
    color: rgba(11, 158, 243, 0.78);
  }
  .icon-gmud {
    color: rgba(106, 107, 104, 0.8);
  }
  .icon-solicitante {
    color: rgba(255, 92, 0, 0.8);
  }
  .icon-resolvido {
    color: rgba(0, 138, 0, 0.877);
  }
  .icon-pausado {
    color: rgba(2, 148, 124, 0.6);
  }
  
  /* ==========================================STATUS================================================ */
  /* To get colors RGBA: https://www.css3maker.com/css-3-rgba.html */
  .status-aberto {
    background-color: rgba(255, 0, 8, 0.6);
    color: white;
  }
  .pronta-iniciar {
    background-color: rgba(255, 0, 8, 0.6);
    color: white;
  }
  .status-andamento {
    background-color: rgba(3, 3, 204, 0.637);
    color: white;
  }
  .status-especialista{
    background-color: rgba(11, 158, 243, 0.78);
    color: white;
  }
  .status-fechado {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  .status-fornecedor {
    background-color: rgba(5, 0, 54, 0.9);
    color: white;
  }
  .status-somente-fornecedor {
    background-color: rgba(11, 158, 243, 0.78);
    color: white;
  }
  .status-gmud {
    background-color: rgba(106, 107, 104, 0.8);
    color: white;
  }
  .status-solicitante {
    background-color: rgba(255, 92, 0, 0.8);
    color: white;
  }
  .status-resolvido {
    background-color: rgba(0, 138, 0, 0.877);
    color: white;
  }
  .status-pausado {
    background-color: rgba(2, 148, 124, 0.6);
    color: white;
  }
  /* ===================================================================================== */
  .card {
    background-color: rgb(40,40,40,40.9);
    border: 0px solid rgba(99, 99, 99, 0.8);
    border-radius: 5px;
    margin-top: 13px;
  }
  .inclui-fornecedor {
    background-color: rgb(40,40,40,40.9);
    margin-top: -6px;
    border-radius: 5px;
  }
  .fornecedor {
    background-color: rgba(68, 68, 68, 0.8);
    padding-top: 6px;
  }
  .nav-tabs > li > a.show {
    background-color: rgb(33,33,33,33.9);
    color: white;
  }

  .nav-tabs > li > a {
    border: 0;
    /* border-bottom:2px solid transparent; */
    color: white;
    padding: 7.5px 12px;
  }
  .nav-tabs > li > a:hover {
      background-color: white;
      color: black;
  }
  .form-row{
    margin-bottom: -20px;
  }
  .nav-tabs{
    margin-left: -10px;
  }
  .modal-header{
    background-color: #202020;
    color: white;
  }
  .modal-body{
    background-color: #404040;
    color: white;
  }
  .modal-footer{
    background-color: #202020;
    color: white;
  }